.sideBarButton{
    width:100px;
    height:35px;
    border:none;
    color:black;
    background-color: rgba(0,0,0,0);
    text-align: left;
    font-size: medium;
    cursor:pointer;
}
.sideBarButton:hover{
color: dodgerblue;
}